@charset "UTF-8";
@import

    "../base/mixin",
    "../base/variable";

/**
 * 表格
 */

/**
 * 表格
 */
.ui-table{
    width: 100%;
    border-collapse:collapse;
}
.ui-table th{font-weight: 500;}
.ui-table td,.ui-table th{
    border-bottom: 1px solid $bordercolor;
    border-right: 1px solid $bordercolor;
    text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-table td,.ui-table th{
		position: relative;
		border-right: 0;
        border-bottom: 0;
	}
    .ui-table td:after,.ui-table th:after {
        content: "";
        position: absolute;
    	width: 100%;
        height: 100%;
    	left: 0;
    	top:0;
        background-image: $border-r,$border-b;
        background-size: 1px 100% ,100% 1px;
        background-repeat: no-repeat;
        background-position: right, bottom;
    }
    .ui-table tr td:last-child:after,.ui-table tr th:last-child:after{
        background-image: $border-b;
        background-size: 100% 1px;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .ui-table tr:last-child td:not(:last-child):after{
        background-image: $border-r;
        background-size: 1px 100%;
        background-repeat: no-repeat;
        background-position: right;
    }
}
.ui-table tr td:last-child,.ui-table tr th:last-child{
    border-right: 0;
}
.ui-table tr:last-child td{
    border-bottom: 0;
}

.ui-sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	margin: 3em 0;
	width: 100%;
}
.ui-sticky-wrap .ui-sticky-thead,
.ui-sticky-wrap .ui-sticky-col,
.ui-sticky-wrap .ui-sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.ui-sticky-wrap .ui-sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.ui-sticky-wrap .ui-sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.ui-sticky-wrap .ui-sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.ui-sticky-wrap td,
.ui-sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.ui-sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}
